*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fredoka-regular {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    font-family: "Fredoka", sans-serif;
    max-width: 1920px;
    min-height: 100%;
}
.container {
    margin: 15px 310px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logoName{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(238, 58, 67);
    font-size: 24px;
}
ul{
    list-style: none;
}
.navmenu{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
}
.infoNav{
    display: flex;
    gap: 25px;
}
.symbol{
    width: 15px;
}
.contact{
    width: 181px;
    height: 57px;
    border-radius: 7px;
    background: rgb(255, 194, 34);
    color: white;
    border: 0;
    font-size: 17px;
}
.contact:hover{
    color: black;
    border: 2px solid black;
}

.foodBg{
    background-image: url(img/Bg_hdr.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100vw;
    min-height: 710px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}
.elements{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end
}
.pagination{
   width: 125px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.fa-circle-dot{
   color: white;
}
.fa-circle-dot:hover{
    color:rgb(255, 212, 13);;
}
.advertising{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 400px;
    height: 192px;
    box-sizing: border-box;
    border: 3px solid rgb(255, 212, 13);
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.8);
}
.advertisingText{
    position: absolute;
    width: 125px;
    height: 26.33px;
    border-radius: 5px;
    background: rgb(243, 39, 76);
    left: 225px;
    top: -15px;
}
.advertisingText h2 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 23.33px;
    letter-spacing: 0%;
    text-align: center;
}
.advertisingInfo{
    display: flex;
    flex-direction: column;
    width: 175px;
    padding: 45px 0px 40px 0px;
    gap: 10px;
}
.advertisingPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 28px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 400;
}
.fa-solid, .fa-dollar-sign{
  width: auto !important;
  text-align: left !important;
}
.advertisingPrice i{
    color: rgb(243, 39, 76);
}
.advertisingProductName{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
}
.advertisingRating{
    display: flex;
    width: 17.28px;
    height: 15px;
    gap: 10px;
}
.advertisingRating i {
    color: rgb(255, 212, 13);
}
main{
    max-width: 100vw;
    height: 100vh;
}
.about{
    display: flex;
    justify-content: space-between;
}
.aboutText{
    color: rgb(243, 39, 76);
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: left;
    width: 338px;
}
.titleAbout{
    color: rgb(0, 0, 0);
    font-size: 60px;
    line-height: 72px;
    width: 493px;

}
.textHeaderMainRight{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.infoMain{
    color: rgb(85, 85, 85);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2%;
    width: 578px;
}
.directorProf{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}
.directorDescription{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 16px;
}
.cardsMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.card{
    position: relative;
    transition: transform 1s ease;
}
.card:hover {
    transform: translateY(50px);
}
.card img{
    width: 400px;
}

.borderCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 380px;
    height: 485px;
    border: 5px solid rgba(255, 212, 13, 1);
    border-radius: 30px;
    z-index: 2;
    margin: 10px;
}
.cardName{
    display: flex;
    align-items: flex-end;
    width: 100%; 
    height: 67px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(255, 212, 13, 1);
    display: flex;
    align-items: center;
    justify-content: center; 
}
