*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fredoka-regular {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    font-family: "Fredoka", sans-serif;
    max-width: 1920px;
    min-height: 100%;
}
.container {
    margin: 15px 310px;
}

/* Header Navigation */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logoName{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(238, 58, 67);
    font-size: 24px;
}
ul{
    list-style: none;
}
.navmenu{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
}
.infoNav{
    display: flex;
    gap: 25px;
}
.symbol{
    width: 15px;
}
.contact{
    width: 181px;
    height: 57px;
    border-radius: 7px;
    background: rgb(255, 194, 34);
    color: white;
    border: 0;
    font-size: 17px;
}
.contact:hover{
    color: black;
    border: 2px solid black;
}

.foodBg{
    background-image: url(img/Bg_hdr.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100vw;
    min-height: 710px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}
.elements{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end
}
.pagination{
   width: 125px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.fa-circle-dot{
   color: white;
}
.fa-circle-dot:hover{
    color:rgb(255, 212, 13);;
}
.advertising{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 400px;
    height: 192px;
    box-sizing: border-box;
    border: 3px solid rgb(255, 212, 13);
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.8);
}
.advertisingText{
    position: absolute;
    width: 125px;
    height: 26.33px;
    border-radius: 5px;
    background: rgb(243, 39, 76);
    left: 225px;
    top: -15px;
}
.advertisingText h2 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 23.33px;
    letter-spacing: 0%;
    text-align: center;
}
.advertisingInfo{
    display: flex;
    flex-direction: column;
    width: 175px;
    padding: 45px 0px 40px 0px;
    gap: 10px;
}
.advertisingPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 28px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 400;
}
.fa-solid, .fa-dollar-sign{
  width: auto !important;
  text-align: left !important;
}
.advertisingPrice i{
    color: rgb(243, 39, 76);
}
.advertisingProductName{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
}
.advertisingRating{
    display: flex;
    width: 17.28px;
    height: 15px;
    gap: 10px;
}
.advertisingRating i {
    color: rgb(255, 212, 13);
}

/* Main */

main{
    margin: 70px 0px;
    max-width: 100vw;
    height: 100vh;
}

/* About section */

.about{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.aboutText{
    color: rgb(243, 39, 76);
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: left;
    width: 338px;
}
.titleAbout{
    color: rgb(0, 0, 0);
    font-size: 60px;
    line-height: 72px;
    width: 493px;

}
.textHeaderMainRight{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.infoMain{
    color: rgb(85, 85, 85);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2%;
    width: 578px;
}
.directorProf{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}
.directorDescription{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 16px;
}
.cardsMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.card{
    position: relative;
    transition: transform 1s ease;
}
.card:hover {
    transform: translateY(50px);
}
.card img{
    width: 400px;
}

.borderCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 380px;
    height: 485px;
    border: 5px solid rgba(255, 212, 13, 1);
    border-radius: 30px;
    z-index: 2;
    margin: 10px;
}
.cardName{
    display: flex;
    align-items: flex-end;
    width: 100%; 
    height: 67px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(255, 212, 13, 1);
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Food menu section */

.foodMainSection{
    min-height: 100vh;
}
.cardsMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0 0 0;
    gap: 20px;
}
.cardMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 182px;
    height: 182px;
    border-radius: 18px;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(170, 170, 170);
    transition: all 0.5s ease;
}

.cardMenu:hover{
    opacity: 1;
    border-radius: 10% 10% 50% 50% / 10% 9% 31% 35% ;
    background: rgba(243, 39, 76, 1);
    color: white;
    border: none;
}
.imgHover {
  display: none;
}

.cardMenu:hover .imgHover {
  display: block;
}

.cardMenu:hover .imgDefault {
  display: none;
}

/* Food BBQ section */

.bgElemet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 0;
    left: 25%;
    margin: 35px 0;
    width: 936px;
    height: 568px;
    border-radius: 30px;
    background: rgb(206, 209, 215);
}
.wrapperBgElement{
    position: relative;
    top: 0;
    left: 15%;
    width: 60%;
}
.foodBBQImg{
    position: absolute;
    z-index: 11;
    margin: 40px 15px 0 0;
}
.foodBBQTitle{
    font-size: 30px;
    font-weight: bold;
}
.advertisingPrice{
    color: rgb(243, 39, 76);
}
.descriptionBBQs{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 0 0 0;
}
.descriptionBBQ{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.decorationDesc{
    display: flex;
    flex-direction: column;
}
.decorateBBQBloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}
.decorationDescBBQ{
    content: "";
    border: 2px dashed black;
    top: 35%;
    width: 96%;
}

/* Discover Menu */

.discoverMenu{
    min-height: 100vh;
    text-align: center;
}
.discoverMenu__title {
    margin: 30px 0 100px 0;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.discoverMenu__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 212, 13);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.discoverMenu__title:hover::after {
    transform: scaleX(1);
}
/* Discover Menu Cards */

.discoverMenu__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-bottom: 150px;
}
.discoverMenu__card{
    position: relative;
}
.discoverMenu__card-description{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 60px;
}
.discoverMenu__card-description h3 {
    font-weight: bold;
    word-spacing: 5px;
    font-size: 36px;
    letter-spacing: 5px;
}
.discoverMenu__card-description p {
    font-size: 18px;
    width: 80%;
}   
.discoverMenu__card img{
    width: 97%;
}
.discoverMenu__card-circle{
    position: absolute;
    top: 230px;
    left: 60px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: rgb(255, 212, 13);
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discoverMenu__card-circle span{
    font-size: 24px;
    font-weight: bold;
    color: rgba(243, 39, 76, 1);
}
.discoverMenu__card-circle p{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.discoverMenu__card-circle-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  Reserve Table */

.reserveTable{
    background-image: url(/img/backgroundReserveTable.png);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    position: relative;
    width: 100%;
    height: 375px;
    border-radius: 30px;
    padding: 70px 60px 0;
}
.reserveTable__title{
    width: 180px;
    color: white;
}
.reserveTable__suptitle{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 15px;
}
.reserveTable__suptitle::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 212, 13);
    transform-origin: center;
}
.reserveTable__subtitle{
    font-size: 15px;
}
.reserveTable__form-groups{
    display: flex;
    flex-wrap: wrap;
    width: 777px;
    gap: 30px;
    flex-direction: row;
}
.reserveTable__form-group--long{
    width: 373px;
    height: 60px;
    border-radius: 7px;
    background-color: white;
}
.reserveTable__form-group--short{
    width: 171px;
    height: 60px;
    border-radius: 7px;
    background-color: white;
}
.reserveTable__form--custom-input{
    padding: 20px 0 15px 30px;
    text-align: left;
}
.reserveTable__custom-button--wrapper{
    position: absolute;
    bottom: 40px;
    right: 60px;
}
.reserveTable__custom-button{
    position: relative;
    width: 120px;
    height: 75px;
    border: 3px solid rgb(255, 212, 13);
    border-radius: 12px;
}
.reserveTable__button{
    position: absolute;
    top: 4px;
    left: -22px;
    width: 130px;
    height: 60px;
    background-color:rgb(255, 212, 13);
    border: none;
    border-radius: 12px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.reserveTable__button:hover{
    background-color:rgb(231, 186, 49);
    border: 1px solid rgb(21, 20, 20); 
}

/*  Featured Dishes */

.featuredDishes{
    min-height: 80vh;
    text-align: center;
}
.featuredDishes__title{
    margin: 65px 0;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.featuredDishes__title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 212, 13);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.featuredDishes__title:hover::after{
    transform: scaleX(1);
}
.featuredDishes__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: left;
}
.featuredDishes__card{
    position: relative;
    padding: 10px;
    width: 400px;
    height: 460px;
    border-radius: 30px;
    border: 4px solid rgba(255, 212, 13, 1);
    margin-bottom: 60px;
}
.featuredDishes__card--cirle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 212, 13, 1);
    font-size: 14px;
    font-weight: bold;
}

.featuredDishes__card-wrapper-img{
    background-image: url(/img/backgroundReserveTable.png);
    width: 333px;
    height: 140px;
    border-radius: 80px;
    margin: 30px 20px;
    position: relative;
}
.featuredDishes__card-img{
    position: absolute;
    top: -80px;
    left: 0px;
}
.featuredDishes__decorations{
    margin: 70px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.featuredDishes__decoration{
    width: 10px;
    height: 16px;
    border: 2px solid rgb(255, 212, 13);
}
.featuredDishes__sub-titile{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
}
.featuredDishes__price-block{
        margin: 5px 20px;
}
.featuredDishes__new-price{
    font-size: 26px;
    font-weight: bold;
    color: rgba(85, 85, 85, 1);
}
.featuredDishes__new-price i{
    color: rgb(243, 39, 76);
}
.featuredDishes__shop-button{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(255, 212, 13);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.featuredDishes__pagination{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.featuredDishes__pagination .fa-circle-dot{
   color: rgb(181, 181, 181);
}
.featuredDishes__pagination .fa-circle-dot:hover{
    color: rgb(243, 39, 76);
}

/* Testimonials & Reviews */

.testimonialsReviews{
    height: 80vh;
    margin: 60px 0;
}
.testimonialsReviews__sup-titile{
    color: rgb(243, 39, 76);
    font-size: 22px;
}
.testimonialsReviews__titile{
    font-size: 45px;
    font-weight: bold;
    width: 300px;
    margin: 15px 0 30px 0;
}
.testimonialsReviews__block{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.testimonialsReviews__comments{
    border: 3px solid rgb(255, 212, 13);
    border-radius: 30px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
}
.testimonialsReviews__paragraph{
    font-size: 26px;
    font-weight: lighter;
}
.testimonialsReviews__customer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.testimonialsReviews__customer-name{
    font-size: 22px;
    font-weight: bold;
}
.testimonialsReviews__decorations{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.testimonialsReviews__decoration{
    width: 10px;
    height: 16px;
    border: 2px solid rgb(255, 212, 13);
}
.testimonialsReviews__images{
    display: flex;
    flex-direction: row;
    position: relative;
}
.testimonialsReviews__first-image{
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 0;
}
.testimonialsReviews__second-image{
    position: absolute;
    z-index: 2;
    bottom: 200px;
    right: -155px;
}
.testimonialsReviews__third-image{
    position: relative;
    z-index: 3;
    bottom: -125px;
    right: -300px;
}
.testimonialsReviews__images img{
    width: 90%;
    height: 90%;
}
.testimonialsReviews__profile-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(255, 212, 13);
}
.festimonialsReviews__pagination{
   display: flex;
   flex-direction: row;
   align-items: start;
   gap: 20px;
   margin: 45px 0;
}
.festimonialsReviews__pagination .fa-circle-dot{
   color: rgb(181, 181, 181);
}
.festimonialsReviews__pagination .fa-circle-dot:hover{
    color: rgb(243, 39, 76);
}